html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* resets end here */


#logo {
    height: 100px;
    width: 100px;
    display: inline;
}

#logo:hover {
    display: inline;
    height: 150px;
    width: 150px;
}

#top-banner {
    background-color: orange;
    font-family: sans-serif;
    height: 100px;
    position: relative;
}

#top-banner h2 {
    font-size: 45px;
    display: inline;
    vertical-align: top;
    color: green;

}

#top-banner h5{
  font-size: 15px;
  display: inline;
  color: gray;
  text-align: left;
  margin-bottom: 15px;
}

.tweet {
    background: gray;
    border: black;
}


header{
    
}