html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* resets end here */

html {
    min-height: 100%;
    background-image: linear-gradient(160deg, #a9d0d8 , seagreen);
}

#logo {
    height: 100px;
    width: 100px;
    display: inline;
}

#logo:hover {
    display: inline;
    height: 150px;
    width: 150px;
}

#top-banner {
    background-color: orange;
    font-family: sans-serif;
    height: 100px;
    width: 100%;
    position: relative;
    white-space: nowrap;

}

#top-banner h2 {
    font-size: 100px;
    font-style: oblique;
    display: inline;
    vertical-align: top;
    color: green;
}

#top-banner h5{
    font-size: 15px;
    display: inline;
    color: black;
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top: -60%;
    margin-left: 10px;
}

#corral {
    margin-left: 100px;
    max-width: 80%;
    box-shadow: 5px 7px #000;
}

.tweet {
    background: gray;
    border-radius: 10px;
    border-color: black;
    padding: 5px;
    box-shadow: 5px 7px #000;
    color: #570fa7;
}

.tweet .handle {
    color: #0985e8;
}

.tweet .handle:hover {
    color: #000000;
}

.tweet .date {
    float: right;
    font-size: 10px
}

.tweet .post {
    font-size: 20px;
}

.tweet:nth-child(odd) {
    background-image: linear-gradient(to right, #f46236 , #f7f48d);
}

.tweet:nth-child(even) {
    background-image: linear-gradient(to left, #f44336 , #f7ec8d)
}


header{
    
}